/* Set the variables to control sizes for different screen sizes. */
.header {
    --logo-section-height: 3.5rem;
    --logo-size: 1.65rem;
    --tabs-section-height: 4rem;
    --tabs-section-height-mobile: 3rem;
    --tabs-font-size: 1.1rem;
    --tabs-font-size-mobile: 1rem;
}

/* Logo section for smaller screens */
.header > .logo {
    width: 100%;
    height: var(--logo-section-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .logo > img {
    width: var(--logo-size);
    aspect-ratio: 1;
    cursor: pointer;;
}

/* Tabs section */
.header > .tabs {
    width: 100%;
    height: var(--tabs-section-height);
    display: flex;
}

.header > .tabs > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--tabs-font-size);
    cursor: pointer;
    user-select: none;
}
.header > .tabs > div:hover {
    background-color: var(--hover-background-color);
}
.header > .tabs > div:active {
    background-color: var(--active-background-color);
}

.header > .tabs > .tab-for-you {
    font-weight: bold;
    position: relative;
}

/* Underline showing currently active tab */
.header > .tabs > .tab-for-you::after {
    content: '';
    width: 8rem;
    max-width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-blue-color);
    position: absolute;
    bottom: 0;

}

.header > .tabs > .tab-following {
    color: #b1b1b1;
}

/* Hide the main logo for larger screens. */
@media (min-width: 600px) {
    .header > .logo {
        display: none;
    }
}

/* Adjust the sizes for smaller screens (mobile devices) */
@media (max-width: 600px) {
    .header > .tabs {
        height: var(--tabs-section-height-mobile);
    }

    .header > .tabs > div {
        font-size: var(--tabs-font-size-mobile);
    }
}