/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    --border-color: #252525;
    --primary-blue-color: #1DA1F2;
    --hover-background-color: #292929;
    --active-background-color: #3b3b3b;
}

:root {
    background-color: black;
    color: white;
}

body {
    /* Make the page responsive for ultra-wide screen sizes. */
    max-width: 85rem;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100dvh;
}

img {
    user-select: none;
}

*::-webkit-scrollbar {
    width: 5px;    
}

.feed::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    border-radius: 20px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

.navbar {
    flex: none;
    width: 16rem;
    overflow: auto;
}

.aside {
    flex: none;
    width: 25rem;
    overflow: auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.header {
    flex: none;
    border-bottom: 1px solid var(--border-color);
}

.feed {
    overflow: auto;
}

.grok-btn {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 0 20px 1px #ffffff50;
    cursor: pointer;
}
.grok-btn:hover {
    opacity: 0.9;
}
.grok-btn:active {
    opacity: 0.8;
}

.grok-btn > img {
    width: 2rem;
    aspect-ratio: 1;
}
.grok-btn > span {
    font-size: 0.6rem;
    font-weight: 600;
}

.message-box {
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 25rem;
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    background-color: black;
    border: 1px solid var(--border-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 20px 1px #ffffff50;
}

.message-box > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.message-box > img {
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
}
.message-box > img:hover {
    opacity: 0.9;
}
.message-box > img:active {
    opacity: 0.8;
}

.message-box > img:nth-child(2) {
    margin-left: auto;
}

/*
 * Remove the aside section when screen width is less than 1100px.
 * Therefore, there will be enough space for main content (i.e. feed).
*/
@media (max-width: 1100px) {
    .aside {
        display: none;
    }
}

/* Move the Navbar at the bottom when screen width is less than 600px. */
@media (max-width: 600px) {
    .main {
        /* Prevent Navbar from covering content at the bottom. */
        padding-bottom: 3.5rem;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3.5rem;
    }

    .grok-btn {
        display: none;
    }

    .message-box {
        display: none;
    }
}