.newpost {
    display: flex;
    align-items: start;
    max-width: 100%;
    border-bottom: 2px solid var(--border-color);

    --profile-pic-size: 3rem;
    --profile-pic-size-mobile: 2.5rem;
    --spacing: 1rem;
    --spacing-mobile: 0.6rem;
}

/* Profile Picture */
.newpost > .user-profilepic {
    flex: none;
    width: var(--profile-pic-size);
    aspect-ratio: 1;
    border-radius: 100%;
    cursor: pointer;
    margin: var(--spacing);
}
.newpost > .user-profilepic:hover {
    opacity: 0.9;
}
.newpost > .user-profilepic:active {
    opacity: 0.8;
}

.newpost > .input-container {
    flex: 1;
    padding: var(--spacing);
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

/* Text Area */
.newpost > .input-container > textarea {
    resize: none;
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}
.newpost > .input-container > textarea:focus {
    outline: none;
    border: 1px solid var(--primary-blue-color);
}

/* Buttons */
.newpost > .input-container > .buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 0.5rem;
}

.newpost > .input-container > .buttons > img {
    width: 1.35rem;
    aspect-ratio: 1;
    cursor: pointer;
}

.newpost > .input-container > .buttons > .post-btn {
    margin-left: auto;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    user-select: none;
    cursor: pointer;
}
.newpost > .input-container > .buttons > .post-btn:hover {
    opacity: 0.9;
}
.newpost > .input-container > .buttons > .post-btn:active {
    opacity: 0.8;
}

/* Adjust the sizes for smaller screens (mobile devices) */
@media (max-width: 600px) {
    .newpost > .user-profilepic {
        width: var(--profile-pic-size-mobile);
        margin: var(--spacing-mobile);
    }

    .newpost > .input-container {
        padding: var(--spacing-mobile);
    }
}